.userInfoDiv {
  margin: 1em;
}

.userInfoDiv p {
  margin: 0;
  font-size: 1.5rem;
}

.userInfoDiv p:last-child {
  font-size: medium;
}

.logout-btn-sidemenu {
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
}
