.register-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  margin: 8em auto;
  width: 25em;
  text-align: center;
}

.redirect-url-register:hover {
  color: purple;
}

.register-form-container h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}
